
h1{
    color:darkblue;
}
*{
    border:solid
    }

.header{
           background-color: antiquewhite;
           display:flex;
           justify-content:space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


